# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
/backend/staticfiles/

# Virtual Environment
venv/
env/
ENV/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
